
@{
    Layout = null;
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Index</title>
    </head>
    <body>
        <h1>This is the entry page.</h1>
        <div id="fillthis"></div>

        <script src="~/src/lib.js"></script>
        <script src="~/src/app.js"></script>
    </body>
</html>